{% extends '::base-content.html.twig' %}

{% block main %}

<div class="page-header">
    <h1>Условия стоп-заказа</h1>
</div>

<div class="alert alert-block alert-info">
    СТОП-заказ означает, что прием заказов в закупку прекращен, так как выполнены необходимые требования поставщика. 
    Вы можете установить условия, при достижении <strong>любого</strong> из которых прием заказов будет остановлен и
    закупка перейдет в статус СТОП-заказ. Изменить статус закупки можно, в разделе "Управление закупкой".
</div>

<form action="{{ path('purchase_edit_stop', { 'id': purchase.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
        
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.stopDate) }}
        </div>
	<div class="controls">
            {{ form_widget(form.stopDate) }}
	</div>
    </div>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.stopSum) }}
        </div>
	<div class="controls">
            {{ form_widget(form.stopSum) }}
	</div>
    </div>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.stopMinCount) }}
        </div>
	<div class="controls">
            {{ form_widget(form.stopMinCount) }}
	</div>
    </div>
        
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-info btn-large">Сохранить условия</button>
</form>

{% endblock %}