{% extends '::base-content.html.twig' %}

{% block main %}

<div class="page-header">
    <h1>Профиль</h1>
</div>
<div class="row-fluid">
  <div class="span8">
      <legend>{{ app.user.username }}</legend>
      <p><strong>{{ app.user.firstname }} {{ app.user.middlename }} {{ app.user.lastname }}</strong></p>
      <p><img src="{{ asset(app.user.webPath) }}"></p>
      <legend>Контакты</legend>
      <legend>Друзья</legend>
      <div>
        {% for friend in app.user.friends %}
            <a class="thumbnail" style="display: inline-block" href="{{ path('user', { 'username': friend.username }) }}">
                <img src="{{ friend.webPath | apply_filter('small_thumb') }}">
            </a>
        {% endfor %}
      </div>
  </div>
  <div class="span4">
      <div class="well">
          <a class="btn btn-large btn-block" href="{{ path('profile_edit') }}"><i class="icon-user"></i> Редактировать профиль</a><br>
          <a class="btn btn-large btn-block" href="/users/admin/change-email/"><i class="icon-envelope"></i> Изменить основной E-Mail</a><br>
          <a class="btn btn-large btn-block" href="/users/admin/edit/notifications/"><i class="icon-cog"></i> Настройки уведомлений</a>
      </div>
  </div>
</div>



{% endblock %}